.footer-section {
	padding-top: 10px;
}
iframe {
  padding: 20px;
}
p {
	font-size: 19px;
  }

.text-large {
	font-size: 150%;
  }

  .navbar .nav-item.active .nav-link{
	color:#ed2528;
  }
  
  .youtube_video {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    margin-bottom: 50px;
  }