{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {{ $categories := slice }}
          {{ range .Site.Data.projetos }}
            {{ with .category }}
              {{ $normalized := . | trim " " | lower }}
              {{ $categories = $categories | append $normalized }}
            {{ end }}
          {{ end }}
          {{ range ($categories | uniq | sort) }}
            <label class="btn btn-sm btn-primary">
              <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | title }}
            </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .Site.Data.portfolio.item }}
        {{ $group := "sem-categoria" }}
        {{ with .category }}
          {{ $group = . | trim " " | lower | urlize }}
        {{ end }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;{{ $group }}&quot;]">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{ .image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            {{ if and (ne .project_url "") (ne .project_url "#") }}
              <div class="hover-overlay">
                <div class="hover-content">
                  <a class="btn btn-light btn-sm" href="{{ .project_url | safeURL }}">{{ .titulo }}</a>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ if .Site.Data.portfolio.clients_logo_slider.enable }}
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Site.Data.portfolio.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}
