{{ define "main" }}
{{ partial "page-title.html" . }}
{{ $edicao_atual := string .Params.edicao }}

<section class="section">
  <div class="container">
    <!-- <div class="lead text-center mb-5">{{ .Description }}</div> -->
    {{ .Content }}
    <hr class="row my-5">
    <div class="row mb-5">
      <a id="galeria"></a>
      <div class="col-12">
        <h4 class="section-title mb-2">Projetos inscritos</h4>
        <p class="text-lead">Confira a planilha de projetos completa em nosso repositório no Github: <a href="https://github.com/escola-de-dados/premio_cwa" target="_blank">https://github.com/escola-de-dados/premio_cwa</a></p>
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Todos
          </label>
          {{ $categories := slice }}
          {{ range where .Site.Data.projetos "ano" "==" $edicao_atual }}
          {{ $categories = $categories | append .category }}
          {{ end }}
          {{ range ( $categories | uniq ) }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <!-- começo do loop da grade -->
    <div class="row shuffle-wrapper">
      {{ range where .Site.Data.projetos "ano" "==" $edicao_atual  }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;{{.category | urlize}}&quot;]">
        <div class="position-relative rounded hover-wrapper">
<!-- se a imagem for placeholder, mostra o texto antes do hover; se não, faz a grade normal -->
          {{ if ( eq .image "images/edicoes/placeholder.png" ) }}
          {{ if and ( ne .project_url "" ) ( ne .project_url "#" ) }}
          <div class="text-center align-items-center" style="height:300px; background-image: url('{{.image | absURL }}')">
            <div style="position: absolute;  top: 50%;  transform: translateY(-50%);  left: 0;  right: 0;  text-align: center; ">
            <p class="h4 text-white font-weight-bolder my-3">{{ .title }}</p>
               <a class="btn btn-light btn-sm text-uppercase my-3" href="{{ .project_url | safeURL }}">{{ .veiculo }}</a>
              </div>
              </div>

          {{ end }}
<!-- grade normal -->
          {{else}}
          <img src="{{.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          {{ if and ( ne .project_url "" ) ( ne .project_url "#" ) }}
          <div class="hover-overlay hover-zoom" style="background: rgba(148, 106, 106, 0.8);">
            <div class="hover-content">
              <p class="h4 text-white font-weight-bolder px-2">{{ .title }}</p>
              <a class="btn btn-light btn-sm text-uppercase" href="{{ .project_url | safeURL }}">{{ .veiculo }}</a>
            </div>
          </div>
          {{ end }}
          {{ end }}
          
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</section>

{{ end }}